ANRESchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.anre.ro/ANRESchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="anre" xmlns:anre="http://www.anre.ro/ANRESchema">
	<xs:simpleType name="ConnectionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MONOFAZAT"/>
			<xs:enumeration value="TRIFAZAT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ConsumptionCategory">
		<xs:restriction base="xs:string">
			<xs:enumeration value="C1"/>
			<xs:enumeration value="C2"/>
			<xs:enumeration value="C3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ContractStatus">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ACTIV"/>
			<xs:enumeration value="INCETAT"/>
			<xs:enumeration value="SUSPENDAT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ContractType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FURNIZARE"/>
			<xs:enumeration value="RETEA"/>
			<xs:enumeration value="TRANSPORT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CounterType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ACTIVE"/>
			<xs:enumeration value="GAS"/>
			<xs:enumeration value="REACTIVE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="County">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AB"/>
			<xs:enumeration value="AG"/>
			<xs:enumeration value="AR"/>
			<xs:enumeration value="B"/>
			<xs:enumeration value="BC"/>
			<xs:enumeration value="BH"/>
			<xs:enumeration value="BN"/>
			<xs:enumeration value="BR"/>
			<xs:enumeration value="BT"/>
			<xs:enumeration value="BV"/>
			<xs:enumeration value="BZ"/>
			<xs:enumeration value="CJ"/>
			<xs:enumeration value="CL"/>
			<xs:enumeration value="CS"/>
			<xs:enumeration value="CT"/>
			<xs:enumeration value="CV"/>
			<xs:enumeration value="DB"/>
			<xs:enumeration value="DJ"/>
			<xs:enumeration value="GJ"/>
			<xs:enumeration value="GL"/>
			<xs:enumeration value="GR"/>
			<xs:enumeration value="HD"/>
			<xs:enumeration value="HR"/>
			<xs:enumeration value="IF"/>
			<xs:enumeration value="IL"/>
			<xs:enumeration value="IS"/>
			<xs:enumeration value="MH"/>
			<xs:enumeration value="MM"/>
			<xs:enumeration value="MS"/>
			<xs:enumeration value="NT"/>
			<xs:enumeration value="OT"/>
			<xs:enumeration value="PH"/>
			<xs:enumeration value="SB"/>
			<xs:enumeration value="SJ"/>
			<xs:enumeration value="SM"/>
			<xs:enumeration value="SV"/>
			<xs:enumeration value="TL"/>
			<xs:enumeration value="TM"/>
			<xs:enumeration value="TR"/>
			<xs:enumeration value="VL"/>
			<xs:enumeration value="VN"/>
			<xs:enumeration value="VS"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Email">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="FUIType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DESEMNAT"/>
			<xs:enumeration value="NOMINALIZAT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Guid">
		<xs:restriction base="xs:string">
			<xs:length value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Incorporation">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AltePersoaneJuridice"/>
			<xs:enumeration value="AutoritateInstitutiePublica"/>
			<xs:enumeration value="CompanieNationala"/>
			<xs:enumeration value="Fundatie"/>
			<xs:enumeration value="InstitutCulturalAlUnuiStat"/>
			<xs:enumeration value="InstitutieDeCredit"/>
			<xs:enumeration value="MisiuneDiplomatica"/>
			<xs:enumeration value="OficiuConsular"/>
			<xs:enumeration value="OrganizatieAsociatieCuPersonalitateJuridica"/>
			<xs:enumeration value="OrganizatiePatronala"/>
			<xs:enumeration value="OrganizatieSindicala"/>
			<xs:enumeration value="RegieAutonoma"/>
			<xs:enumeration value="ReprezentantaComercialaSiEconomicaAleAltuiStat"/>
			<xs:enumeration value="ReprezentantaDinRomaniaPentruPJStraina"/>
			<xs:enumeration value="SocietateComerciala"/>
			<xs:enumeration value="SocietateCooperativa"/>
			<xs:enumeration value="SocietateNationala"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LegalIDType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CNP"/>
			<xs:enumeration value="CUI"/>
			<xs:enumeration value="OTHER"/>
			<xs:enumeration value="PASSPORT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NetworkType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CA"/>
			<xs:enumeration value="D"/>
			<xs:enumeration value="T"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Phone">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="PlaceType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CLC"/>
			<xs:enumeration value="POD"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TechnicalDataStatus">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CONECTAT"/>
			<xs:enumeration value="DECONECTAT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TechnicalDataType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ATRCG"/>
			<xs:enumeration value="ATREE"/>
			<xs:enumeration value="ATRGN"/>
			<xs:enumeration value="CERTIFICATRACORDARE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Address" type="anre:Address"/>
	<xs:complexType name="Address">
		<xs:sequence>
			<xs:element name="city" type="anre:City" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Unitate Administrativ Teritoriala</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="county" type="anre:County" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Judetul</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="extended" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Extra address information like Building, Stair, Apartment, Floor</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="number" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Street number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="position" type="anre:Position" minOccurs="0" maxOccurs="1"/>
			<xs:element name="street" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Aggregate" type="anre:Aggregate"/>
	<xs:complexType name="Aggregate">
		<xs:sequence>
			<xs:element name="company" type="anre:Company" minOccurs="1" maxOccurs="1"/>
			<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="City" type="anre:City"/>
	<xs:complexType name="City">
		<xs:sequence>
			<xs:element name="code" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>SIRUTA code as per https://data.gov.ro/dataset/unitati-administrativ-teritoriale-coduri-siruta/resource/6772b5e3-2444-4bf2-8dcb-162fce602d28f</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Client" type="anre:Client"/>
	<xs:complexType name="Client">
		<xs:sequence>
			<xs:element name="aggregates" type="anre:Company" minOccurs="0" maxOccurs="1"/>
			<xs:element name="autosupplier" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
			<xs:element name="company" type="anre:Company" minOccurs="0" maxOccurs="1"/>
			<xs:element name="isAgregate" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
			<xs:element name="isPre" type="xs:boolean" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Responsabil cu echilibrarea</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="person" type="anre:Person" minOccurs="1" maxOccurs="1"/>
			<xs:element name="preCompany" type="anre:Company" minOccurs="1" maxOccurs="1"/>
			<xs:element name="prosumer" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
			<xs:element name="uninterruptible" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
			<xs:element name="vulnerable" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ClientInfoUpdated" type="anre:ClientInfoUpdated"/>
	<xs:complexType name="ClientInfoUpdated">
		<xs:annotation>
			<xs:documentation>Este emis din WebPOSF cand se schimba datele clientului (nume/adresa de corespondenta) pentru informarea celor cu care sunt in relatie contractuala.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="anre:Message">
				<xs:sequence>
					<xs:element name="client" type="anre:Client" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Company" type="anre:Company"/>
	<xs:complexType name="Company">
		<xs:sequence>
			<xs:element name="address" type="anre:Address" minOccurs="1" maxOccurs="1"/>
			<xs:element name="code" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="contactAddress" type="anre:ContactAddress" minOccurs="1" maxOccurs="1"/>
			<xs:element name="correspondenceAddress" type="anre:Address" minOccurs="1" maxOccurs="1"/>
			<xs:element name="extra" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="incorporation" type="anre:Incorporation" minOccurs="1" maxOccurs="1"/>
			<xs:element name="legalRepresentative" type="anre:Person" minOccurs="1" maxOccurs="1"/>
			<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="number" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ContactAddress" type="anre:ContactAddress"/>
	<xs:complexType name="ContactAddress">
		<xs:sequence>
			<xs:element name="email" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="fax" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="mobilePhone" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="phone" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Contract" type="anre:Contract"/>
	<xs:complexType name="Contract">
		<xs:sequence>
			<xs:element name="additionalDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
			<xs:element name="additionalNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="client" type="anre:Client" minOccurs="1" maxOccurs="1"/>
			<xs:element name="contractStatus" type="anre:ContractStatus" minOccurs="1" maxOccurs="1"/>
			<xs:element name="contractWithOperatorNeeded" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
			<xs:element name="conventionNeeded" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
			<xs:element name="correspondenceClientAddress" type="anre:Address" minOccurs="1" maxOccurs="1"/>
			<xs:element name="correspondenceClientContactAddress" type="anre:ContactAddress" minOccurs="1" maxOccurs="1"/>
			<xs:element name="date" type="xs:date" minOccurs="1" maxOccurs="1"/>
			<xs:element name="executionAddress" type="anre:Address" minOccurs="1" maxOccurs="1"/>
			<xs:element name="expirationDate" type="xs:date" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>data de expirare a contractului</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="id" type="anre:Guid" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identificator unic al contractului, folosit si in actele aditionale ulterioare</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="number" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="offerCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="operator" type="anre:Operator" minOccurs="0" maxOccurs="1"/>
			<xs:element name="place" type="anre:Place" minOccurs="1" maxOccurs="1"/>
			<xs:element name="previousSupplier" type="anre:Supplier" minOccurs="1" maxOccurs="1"/>
			<xs:element name="startingDate" type="xs:date" minOccurs="1" maxOccurs="1"/>
			<xs:element name="supplier" type="anre:Supplier" minOccurs="1" maxOccurs="1"/>
			<xs:element name="type" type="anre:ContractType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ContractActivatedByANRE" type="anre:ContractActivatedByANRE"/>
	<xs:complexType name="ContractActivatedByANRE">
		<xs:annotation>
			<xs:documentation>Emis de WebPOSF cand un key user al ANRE introduce faptul ca unui furnizor i s-a de-suspendat licenta</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="anre:Message">
				<xs:sequence>
					<xs:element name="contract" type="anre:Contract" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ContractCancelledByClient" type="anre:ContractCancelledByClient"/>
	<xs:complexType name="ContractCancelledByClient">
		<xs:annotation>
			<xs:documentation>Se emite din aplicatia WebPOSF cand un utilizator s-a razgandit in timp ce trimisese deja semnat la furnizor un contract sau daca vrea sa renunte la un contract existent.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="anre:Message">
				<xs:sequence>
					<xs:element name="contract" type="anre:Contract" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ContractCancelledBySupplier" type="anre:ContractCancelledBySupplier"/>
	<xs:complexType name="ContractCancelledBySupplier">
		<xs:annotation>
			<xs:documentation>Se emite din aplicatia WebPOSF sau sistemul furnizorului cand un furnizor s-a razgandit pe un contract semnat sau vrea sa anuleze un contract existent.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="anre:Message">
				<xs:sequence>
					<xs:element name="contract" type="anre:Contract" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ContractChangedInfo" type="anre:ContractChangedInfo"/>
	<xs:complexType name="ContractChangedInfo">
		<xs:annotation>
			<xs:documentation>Emis cand se actualizeaza date pe contract care nu implica activitati in fluxul informatic, ca de exemplu TechnicalData, adresa de facturare, nume schimbat.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="anre:Message">
				<xs:sequence>
					<xs:element name="contract" type="anre:Contract" minOccurs="1" maxOccurs="1"/>
					<xs:element name="info" type="xs:string" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Descrierea motivelor pentru care au fost solicitate mai multe informatii</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ContractMoreInfo" type="anre:ContractMoreInfo"/>
	<xs:complexType name="ContractMoreInfo">
		<xs:annotation>
			<xs:documentation>Trimis de furnizor/operator care solicita mai multe informatii de la cealalta parte.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="anre:Message">
				<xs:sequence>
					<xs:element name="contract" type="anre:Contract" minOccurs="1" maxOccurs="1"/>
					<xs:element name="info" type="xs:string" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Descrierea motivelor pentru care au fost solicitate mai multe informatii</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ContractNetworkCancelledByOperator" type="anre:ContractNetworkCancelledByOperator"/>
	<xs:complexType name="ContractNetworkCancelledByOperator">
		<xs:annotation>
			<xs:documentation>Emis din WebPOSF/ platforma Operator cand se doreste anularea contractului de retea cu operatorul.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="anre:Message">
				<xs:sequence>
					<xs:element name="contract" type="anre:Contract" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ContractNetworkSignedByClient" type="anre:ContractNetworkSignedByClient"/>
	<xs:complexType name="ContractNetworkSignedByClient">
		<xs:annotation>
			<xs:documentation>Emis din WebPOSF cand se semneaza contractul de retea de catre Client</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="anre:Message">
				<xs:sequence>
					<xs:element name="contract" type="anre:Contract" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ContractNetworkSignedByOperator" type="anre:ContractNetworkSignedByOperator"/>
	<xs:complexType name="ContractNetworkSignedByOperator">
		<xs:annotation>
			<xs:documentation>Emis din WebPOSF/platforma Operator cand se semneaza contractul de retea de catre Operator.

Pentru tipul de contract TRANSPORT doar operatorul emite, ceilalti doar iau nota de mesaj.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="anre:Message">
				<xs:sequence>
					<xs:element name="contract" type="anre:Contract" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ContractNetworkSignedBySupplier" type="anre:ContractNetworkSignedBySupplier"/>
	<xs:complexType name="ContractNetworkSignedBySupplier">
		<xs:annotation>
			<xs:documentation>Emis din WebPOSF cand se semneaza contractul de retea de catre Furnizor</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="anre:Message">
				<xs:sequence>
					<xs:element name="contract" type="anre:Contract" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ContractSignedByClient" type="anre:ContractSignedByClient"/>
	<xs:complexType name="ContractSignedByClient">
		<xs:annotation>
			<xs:documentation>Instiintare despre contract semnat de client in aplicatia WebPOSF</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="anre:Message">
				<xs:sequence>
					<xs:element name="contract" type="anre:Contract" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ContractSignedBySupplier" type="anre:ContractSignedBySupplier"/>
	<xs:complexType name="ContractSignedBySupplier">
		<xs:annotation>
			<xs:documentation>Instiintare despre contract semnat de furnizor, dupa ce a semnat in prealabil si clientul fie la ghiseu fie prin aplicatia furnizorului.
Se emite si cand furnizorul deruleaza procesul de semnare in afara platformei POSF, doar cand contractul a fost semnat semnat de ambele parti.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="anre:Message">
				<xs:sequence>
					<xs:element name="contract" type="anre:Contract" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ContractSuspendedByAnre" type="anre:ContractSuspendedByAnre"/>
	<xs:complexType name="ContractSuspendedByAnre">
		<xs:annotation>
			<xs:documentation>Emis de WebPOSF cand un key user al ANRE introduce faptul ca unui furnizor i s-a suspendat licenta</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="anre:Message">
				<xs:sequence>
					<xs:element name="contract" type="anre:Contract" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ContractTransferredToFUIByAnre" type="anre:ContractTransferredToFUIByAnre"/>
	<xs:complexType name="ContractTransferredToFUIByAnre">
		<xs:annotation>
			<xs:documentation>Emis de WebPOSF cand un key user ANRE introduce faptul ca a fost retrasa licenta pentru un furnizor</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="anre:Message">
				<xs:sequence>
					<xs:element name="contract" type="anre:Contract" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ContractTransferredToFUIByOperator" type="anre:ContractTransferredToFUIByOperator"/>
	<xs:complexType name="ContractTransferredToFUIByOperator">
		<xs:annotation>
			<xs:documentation>Emis de WebPOSF / platforma operator cand un angajat al operatorului introduce faptul ca un furnizor se afla in imposibilitate de furnizare</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="anre:Message">
				<xs:sequence>
					<xs:element name="contract" type="anre:Contract" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Convention" type="anre:Convention"/>
	<xs:complexType name="Convention">
		<xs:annotation>
			<xs:documentation>Contract de retea</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="activeSupplier" type="anre:Supplier" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="contract" type="anre:Contract" minOccurs="1" maxOccurs="1"/>
			<xs:element name="date" type="xs:date" minOccurs="1" maxOccurs="1"/>
			<xs:element name="number" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="removedSupplier" type="anre:Supplier" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ConventionSignedByClient" type="anre:ConventionSignedByClient"/>
	<xs:complexType name="ConventionSignedByClient">
		<xs:annotation>
			<xs:documentation>Emis de WebPOSF cand a semnat clientul conventia</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="anre:Message">
				<xs:sequence>
					<xs:element name="contract" type="anre:Convention" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ConventionSignedByOperator" type="anre:ConventionSignedByOperator"/>
	<xs:complexType name="ConventionSignedByOperator">
		<xs:annotation>
			<xs:documentation>Emis de WebPOSF sau de platforma operatorului cand a semnat conventia.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="anre:Message">
				<xs:sequence>
					<xs:element name="convention" type="anre:Convention" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ConventionSignedBySupplier" type="anre:ConventionSignedBySupplier"/>
	<xs:complexType name="ConventionSignedBySupplier">
		<xs:annotation>
			<xs:documentation>Emis de WebPOSF sau de platforma furnizorului cand acesta a semnat conventia.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="anre:Message">
				<xs:sequence>
					<xs:element name="contract" type="anre:Convention" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Message" type="anre:Message"/>
	<xs:complexType name="Message">
		<xs:sequence>
			<xs:element name="authorID" type="anre:Guid" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>ID asignat de POSF pentru sistemul IT care emite mesajul</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="authorName" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Nume de cod asignat de POSF pentru sistemul IT care emite mesajul</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="correlationID" type="anre:Guid" minOccurs="1" maxOccurs="1"/>
			<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Human readable description of the message in Romanian.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="messageID" type="anre:Guid" minOccurs="1" maxOccurs="1"/>
			<xs:element name="timestamp" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Operator" type="anre:Operator"/>
	<xs:complexType name="Operator">
		<xs:sequence>
			<xs:element name="company" type="anre:Company" minOccurs="1" maxOccurs="1"/>
			<xs:element name="person" type="anre:Person" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Person" type="anre:Person"/>
	<xs:complexType name="Person">
		<xs:sequence>
			<xs:element name="address" type="anre:Address" minOccurs="1" maxOccurs="1"/>
			<xs:element name="code" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="contactAddress" type="anre:ContactAddress" minOccurs="1" maxOccurs="1"/>
			<xs:element name="correspondenceAddress" type="anre:Address" minOccurs="1" maxOccurs="1"/>
			<xs:element name="extra" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="firstName" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="lastName" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="number" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="series" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="type" type="anre:LegalIDType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Place" type="anre:Place"/>
	<xs:complexType name="Place">
		<xs:sequence>
			<xs:element name="address" type="anre:Address" minOccurs="1" maxOccurs="1"/>
			<xs:element name="code" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>reprezinta numarul POD sau CLC asa cum se regaseste in factura</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="technicalData" type="anre:TechnicalData" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Poate fi de tip TechnicalDataElectricity sau TechnicalDataGas</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="type" type="anre:PlaceType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>ia valori conform tipului de data PlaceType</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PlaceCreatedByOperator" type="anre:PlaceCreatedByOperator"/>
	<xs:complexType name="PlaceCreatedByOperator">
		<xs:annotation>
			<xs:documentation>Se emite cand un operator inregistreaza cu succes in baza de date a unui nou loc de consum (POD/CLC)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="anre:Message">
				<xs:sequence>
					<xs:element name="operator" type="anre:Operator" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The operator sending the message</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="place" type="anre:Place" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The newly created Place (POD/CLC)</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="PlaceDisconnectedByOperator" type="anre:PlaceDisconnectedByOperator"/>
	<xs:complexType name="PlaceDisconnectedByOperator">
		<xs:annotation>
			<xs:documentation>Se emite cand un operator deconecteaza un loc de consum (POD/CLC), probabil cand nu mai exista contracte active.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="anre:Message">
				<xs:sequence>
					<xs:element name="client" type="anre:Client" minOccurs="1" maxOccurs="1"/>
					<xs:element name="operator" type="anre:Operator" minOccurs="1" maxOccurs="1"/>
					<xs:element name="place" type="anre:Place" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="PlaceUpdatedByOperator" type="anre:PlaceUpdatedByOperator"/>
	<xs:complexType name="PlaceUpdatedByOperator">
		<xs:annotation>
			<xs:documentation>Se emite cand un operator modifica cu succes in baza de date a unui nou loc de consum (POD/CLC)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="anre:Message">
				<xs:sequence>
					<xs:element name="operator" type="anre:Operator" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Operatorul care a creat acest loc de consum</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="place" type="anre:Place" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Locul de consum nou creat</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Position" type="anre:Position"/>
	<xs:complexType name="Position">
		<xs:annotation>
			<xs:documentation>Coordinates must be in accordance
with WGS84 and must use an ISO 6709 format as follows: [+/-]NN.NNNNNN.</xs:documentation>
		</xs:annotation>
		<xs:sequence/>
		<xs:attribute name="geohash" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>WGS84 GPS position encoded in 10 digits GeoHash as per https://en.wikipedia.org/wiki/Geohash
Example for Bucharest center: sxfsccrhnq</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="latitude" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>Example latitude value for Bucharest center: 44.436339</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="longitude" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>Example longitude value for Bucharest center: 26.102571</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="Supplier" type="anre:Supplier"/>
	<xs:complexType name="Supplier">
		<xs:sequence>
			<xs:element name="address" type="anre:Address" minOccurs="1" maxOccurs="1"/>
			<xs:element name="fuiType" type="anre:FUIType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="isFUI" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
			<xs:element name="legalID" type="anre:Company" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="TechnicalData" type="anre:TechnicalData"/>
	<xs:complexType name="TechnicalData">
		<xs:sequence>
			<xs:element name="counterIndexReadDate" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Data la care a fost citit contorul</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="counterIndexValue" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valoarea citita a contorului</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="counterSeries" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Serie contor</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="counterType" type="anre:CounterType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="date" type="xs:date" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>data documentului tehnic</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="documentType" type="anre:TechnicalDataType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="number" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>numarul documentului tehnic</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="smartMeter" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
			<xs:element name="status" type="anre:TechnicalDataStatus" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="TechnicalDataElectricity" type="anre:TechnicalDataElectricity"/>
	<xs:complexType name="TechnicalDataElectricity">
		<xs:annotation>
			<xs:documentation>Putere aprobata la consum</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="anre:TechnicalData">
				<xs:sequence>
					<xs:element name="approvedConsumptionPower" type="xs:double" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Putere aprobata la consum in locul de consum, masurata in Watt</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="approvedProducedPower" type="xs:decimal" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Putere aprobata la productie in locul de consum, masurata in Watt</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="connectionType" type="anre:ConnectionType" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>conform tipului de date ConnectionType</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="voltageLevel" type="xs:decimal" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Tensiunea disponibila in locul de consum, masurata in Volt</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="TechnicalDataGas" type="anre:TechnicalDataGas"/>
	<xs:complexType name="TechnicalDataGas">
		<xs:complexContent>
			<xs:extension base="anre:TechnicalData">
				<xs:sequence>
					<xs:element name="category" type="anre:ConsumptionCategory" minOccurs="1" maxOccurs="1"/>
					<xs:element name="debit" type="xs:decimal" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Debitul disponibil in locul de consum</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="networkType" type="anre:NetworkType" minOccurs="1" maxOccurs="1"/>
					<xs:element name="pressure" type="xs:decimal" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Presiunea disponibila in locul de consum</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
