ANRESchema.xsd

<?xml  version='1.0' encoding='utf-8' ?>
<xs:schema targetNamespace="http://www.anre.ro/ANRESchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="anre" xmlns:anre="http://www.anre.ro/ANRESchema">
	<xs:simpleType name="ConnectionType">
		<xs:annotation>
			<xs:documentation>Tip racord</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="MONOFAZAT"/>
			<xs:enumeration value="TRIFAZAT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ConsumptionCategory">
		<xs:annotation>
			<xs:documentation>Categoria de consum</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="C_1"/>
			<xs:enumeration value="C_2"/>
			<xs:enumeration value="C_3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ContractStatus">
		<xs:annotation>
			<xs:documentation>Status contract</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="ACTIV"/>
			<xs:enumeration value="INCETAT"/>
			<xs:enumeration value="SUSPENDAT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ContractType">
		<xs:annotation>
			<xs:documentation>Tip contract</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="FURNIZARE"/>
			<xs:enumeration value="RETEA"/>
			<xs:enumeration value="TRANSPORT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ConventionType">
		<xs:annotation>
			<xs:documentation>Tip conventie</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="MULTIPARTITA"/>
			<xs:enumeration value="TRIPARTITA"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CounterType">
		<xs:annotation>
			<xs:documentation>Tip contor</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="ACTIVE"/>
			<xs:enumeration value="GAS"/>
			<xs:enumeration value="REACTIVE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="County">
		<xs:annotation>
			<xs:documentation>Judet</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="AB"/>
			<xs:enumeration value="AG"/>
			<xs:enumeration value="AR"/>
			<xs:enumeration value="B"/>
			<xs:enumeration value="BC"/>
			<xs:enumeration value="BH"/>
			<xs:enumeration value="BN"/>
			<xs:enumeration value="BR"/>
			<xs:enumeration value="BT"/>
			<xs:enumeration value="BV"/>
			<xs:enumeration value="BZ"/>
			<xs:enumeration value="CJ"/>
			<xs:enumeration value="CL"/>
			<xs:enumeration value="CS"/>
			<xs:enumeration value="CT"/>
			<xs:enumeration value="CV"/>
			<xs:enumeration value="DB"/>
			<xs:enumeration value="DJ"/>
			<xs:enumeration value="GJ"/>
			<xs:enumeration value="GL"/>
			<xs:enumeration value="GR"/>
			<xs:enumeration value="HD"/>
			<xs:enumeration value="HR"/>
			<xs:enumeration value="IF"/>
			<xs:enumeration value="IL"/>
			<xs:enumeration value="IS"/>
			<xs:enumeration value="MH"/>
			<xs:enumeration value="MM"/>
			<xs:enumeration value="MS"/>
			<xs:enumeration value="NT"/>
			<xs:enumeration value="OT"/>
			<xs:enumeration value="PH"/>
			<xs:enumeration value="SB"/>
			<xs:enumeration value="SJ"/>
			<xs:enumeration value="SM"/>
			<xs:enumeration value="SV"/>
			<xs:enumeration value="TL"/>
			<xs:enumeration value="TM"/>
			<xs:enumeration value="TR"/>
			<xs:enumeration value="VL"/>
			<xs:enumeration value="VN"/>
			<xs:enumeration value="VS"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Email">
		<xs:annotation>
			<xs:documentation>Adresa de email</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="FUIType">
		<xs:annotation>
			<xs:documentation>Tip Furnizor de ultima instanta</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="DESEMNAT"/>
			<xs:enumeration value="NOMINALIZAT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Guid">
		<xs:restriction base="xs:string">
			<xs:length value="36"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Incorporation">
		<xs:annotation>
			<xs:documentation>Forma juridica</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="ALTE_PERSOANE_JURIDICE"/>
			<xs:enumeration value="AUTORITATE_INSTITUTIE_PUBLICA"/>
			<xs:enumeration value="COMPANIE_NATIONALA"/>
			<xs:enumeration value="FUNDATIE"/>
			<xs:enumeration value="INSTITUT_CULTURALAL_UNUI_STAT"/>
			<xs:enumeration value="INSTITUTIE_DE_CREDIT"/>
			<xs:enumeration value="MISIUNE_DIPLOMATICA"/>
			<xs:enumeration value="OFICIU_CONSULAR"/>
			<xs:enumeration value="ORGANIZATIE_ASOCIATIE_CU_PERSONALITATE_JURIDICA"/>
			<xs:enumeration value="ORGANIZATIE_PATRONALA"/>
			<xs:enumeration value="ORGANIZATIE_SINDICALA"/>
			<xs:enumeration value="REGIE_AUTONOMA"/>
			<xs:enumeration value="REPREZENTANTA_COMERCIALA_SI_ECONOMICA_ALE_ALTUI_STAT"/>
			<xs:enumeration value="REPREZENTANTA_DIN_ROMANIA_PENTRU_PJ_STRAINA"/>
			<xs:enumeration value="SOCIETATE_COMERCIALA"/>
			<xs:enumeration value="SOCIETATE_COOPERATIVA"/>
			<xs:enumeration value="SOCIETATE_NATIONALA"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LegalIDType">
		<xs:annotation>
			<xs:documentation>Numar/cod unic de identificare</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="CNP"/>
			<xs:enumeration value="CUI"/>
			<xs:enumeration value="OTHER"/>
			<xs:enumeration value="PASSPORT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NetworkType">
		<xs:annotation>
			<xs:documentation>Tip retea:&#xD;
- Energie Electrica: Distributie si Transport&#xD;
- Gaze Naturale: Distributie, Transport si Conducte de alimentare din amonte</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="CA"/>
			<xs:enumeration value="D"/>
			<xs:enumeration value="T"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Phone">
		<xs:annotation>
			<xs:documentation>Numar de telefon</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="PlaceType">
		<xs:annotation>
			<xs:documentation>Tip loc de consum:&#xD;
- pentru EE - POD&#xD;
- pentru GN - CLC</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="CLC"/>
			<xs:enumeration value="POD"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TechnicalDataStatus">
		<xs:annotation>
			<xs:documentation>Status loc de consum</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="CONECTAT"/>
			<xs:enumeration value="DECONECTAT"/>
			<xs:enumeration value="INACTIV"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TechnicalDataType">
		<xs:annotation>
			<xs:documentation>Tip document tehnic:&#xD;
- pentru EE: Certificat de racordare/ Aviz tehnic de racordare&#xD;
- pentru GN: Aviz tehnic de racordare/ Acord de acces</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="ACORDACCES">
				<xs:annotation>
					<xs:documentation>Acord acces</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ATREE">
				<xs:annotation>
					<xs:documentation> Aviz tehnic de racordare Energie Electrica</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ATRGN">
				<xs:annotation>
					<xs:documentation>Aviz tehnic de racordare gaze naturale</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CERTIFICATRACORDARE">
				<xs:annotation>
					<xs:documentation>Certificat de racordare</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Address" type="anre:Address"/>
	<xs:complexType name="Address">
		<xs:annotation>
			<xs:documentation>Adresa</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="authorId" type="anre:Guid" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>ID-ul celui care a publicat adresa in sistem. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="building" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Numar Bloc/Cladire</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="city" type="anre:City" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Unitate Administrativ Teritoriala conform cod siruta (Oras/Comuna/Sat)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="county" type="anre:County" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Judetul</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cua" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Cod Unic Adresa conform nomenclatorului RENNS https://renns.ancpi.ro/renns-public/&#xD;
ca de exemplu "1026-1437922-146504496"</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cuaAuthor" type="anre:Guid" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Cod Unic de Adresa asa cum se regaseste in sistemul informatic al autorului, in format UUID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="extended" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Informatii extra care nu sunt cuprinse in aceste campuri</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="flat" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Numarul apartamentului</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="floor" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Numarul etajului</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="number" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Numar strada</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="position" type="anre:Position" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Coordonate GPS</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="postcode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Cod postal</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="stair" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Scara a imobilului</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="street" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Strada</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AddressChangedInfo" type="anre:AddressChangedInfo"/>
	<xs:complexType name="AddressChangedInfo">
		<xs:annotation>
			<xs:documentation>Incarcare adrese in POSF pentru a fi folosite de aplicatia WebPOSF cand permite clientului sa aleaga o adresa postala specifica unui operator.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="anre:Message">
				<xs:sequence>
					<xs:element name="address" type="anre:Address" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Structura de tip Adresa completata obligatoriu cu authorId si cuaAuthor.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Aggregate" type="anre:Aggregate"/>
	<xs:complexType name="Aggregate">
		<xs:annotation>
			<xs:documentation>Agregator</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="company" type="anre:Company" minOccurs="1" maxOccurs="1"/>
			<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Denumire companie</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="City" type="anre:City"/>
	<xs:complexType name="City">
		<xs:annotation>
			<xs:documentation>Oras</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="code" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>SIRUTA code as per https://data.gov.ro/dataset/unitati-administrativ-teritoriale-coduri-siruta/resource/6772b5e3-2444-4bf2-8dcb-162fce602d28f</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Denumire Oras</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Client" type="anre:Client"/>
	<xs:complexType name="Client">
		<xs:annotation>
			<xs:documentation>Client</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="aggregates" type="anre:Company" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Agregator</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="company" type="anre:Company" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Companie</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="isAgregate" type="xs:boolean" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Daca face parte dintr-o agregare</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="isPre" type="xs:boolean" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Daca este delegata o parte responsabila cu echilibrarea</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="person" type="anre:Person" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Persoana fizica</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="preCompany" type="anre:Company" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Parte responsabila cu echilibrarea</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="prosumer" type="xs:boolean" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Prosumator</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="uninterruptible" type="xs:boolean" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Neintreruptibil</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="vulnerable" type="xs:boolean" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Vulnerabil</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ClientInfoUpdated" type="anre:ClientInfoUpdated"/>
	<xs:complexType name="ClientInfoUpdated">
		<xs:annotation>
			<xs:documentation>Este emis din WebPOSF cand se schimba datele clientului (nume/adresa de corespondenta) pentru informarea celor cu care sunt in relatie contractuala.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="anre:Message">
				<xs:sequence>
					<xs:element name="client" type="anre:Client" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Company" type="anre:Company"/>
	<xs:complexType name="Company">
		<xs:annotation>
			<xs:documentation>Persoana juridica</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="address" type="anre:Address" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Adresa Sediu Social</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="code" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>CUI</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="contactAddress" type="anre:ContactAddress" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Date contact: Telefon, Mobil, Fax, Email</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="correspondenceAddress" type="anre:Address" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Adresa corespondenta</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="extra" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="incorporation" type="anre:Incorporation" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Forma juridica</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="legalRepresentative" type="anre:Person" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Reprezentant legal</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Denumire</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="number" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Numar inregistrare la ONRC</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Consumption" type="anre:Consumption"/>
	<xs:complexType name="Consumption">
		<xs:sequence>
			<xs:element name="item" type="anre:ConsumptionItem" minOccurs="0" maxOccurs="12">
				<xs:annotation>
					<xs:documentation>Ianuarie este primul in lista pe pozitia 1, Decembrie este ultimul pe pozitia 12</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ConsumptionItem" type="anre:ConsumptionItem"/>
	<xs:complexType name="ConsumptionItem">
		<xs:sequence>
			<xs:element name="month" type="xs:integer" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>De la 1 la 12, lunile anului</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="value" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ContactAddress" type="anre:ContactAddress"/>
	<xs:complexType name="ContactAddress">
		<xs:annotation>
			<xs:documentation>Date contact</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="email" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Adresa de email</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fax" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Numar fax</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mobilePhone" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Numar telefon mobil</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="phone" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Numar telefon fix</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Contract" type="anre:Contract"/>
	<xs:complexType name="Contract">
		<xs:annotation>
			<xs:documentation>Informatii Contract</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="1">
			<xs:element name="additionalDate" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Data act aditional</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="additionalNumber" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Numar act aditional</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="client" type="anre:Client" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Client</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="consumption" type="anre:Consumption" minOccurs="0" maxOccurs="1"/>
			<xs:element name="contractStatus" type="anre:ContractStatus" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Status contract</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="contractWithOperatorNeeded" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Contractare a serviciului de retea direct (CF-OR)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="conventionNeeded" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Este nevoie de conventie</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="correspondenceClientAddress" type="anre:Address" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Adresa de corespondenta Client</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="correspondenceClientContactAddress" type="anre:ContactAddress" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Date de contact Client</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="date" type="xs:date" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Data contract</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="executionAddress" type="anre:Address" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Adresa loc de consum</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="expirationDate" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Data de expirare a contractului</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="id" type="anre:Guid" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identificator unic al contractului, folosit si in actele aditionale ulterioare</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="marketing" type="anre:Marketing" minOccurs="0" maxOccurs="1"/>
			<xs:element name="number" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Numar contract</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="offerCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Cod oferta asociata contractului - Guid</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="operator" type="anre:Operator" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Denumire operator</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="place" type="anre:Place" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Loc de consum</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="previousSupplier" type="anre:Supplier" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Furnizorul actual</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="startingDate" type="xs:date" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Data efectiva a schimbarii furnizorului</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="supplier" type="anre:Supplier" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Furnizorul nou</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="type" type="anre:ContractType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipul contractului</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="url" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Adresa web unde poate fi accesate fisierele in format electronic ale acestui contract</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ContractActivatedByANRE" type="anre:ContractActivatedByANRE"/>
	<xs:complexType name="ContractActivatedByANRE">
		<xs:annotation>
			<xs:documentation>Emis de WebPOSF cand un key user al ANRE introduce faptul ca unui furnizor i s-a de-suspendat licenta</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="anre:Message">
				<xs:sequence>
					<xs:element name="contract" type="anre:Contract" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ContractCancelledByClient" type="anre:ContractCancelledByClient"/>
	<xs:complexType name="ContractCancelledByClient">
		<xs:annotation>
			<xs:documentation>Se emite din aplicatia WebPOSF cand un utilizator s-a razgandit in timp ce trimisese deja semnat la furnizor un contract sau daca vrea sa renunte la un contract existent.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="anre:Message">
				<xs:sequence>
					<xs:element name="contract" type="anre:Contract" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ContractCancelledBySupplier" type="anre:ContractCancelledBySupplier"/>
	<xs:complexType name="ContractCancelledBySupplier">
		<xs:annotation>
			<xs:documentation>Se emite din aplicatia WebPOSF sau sistemul furnizorului cand un furnizor s-a razgandit pe un contract semnat sau vrea sa anuleze un contract existent.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="anre:Message">
				<xs:sequence>
					<xs:element name="contract" type="anre:Contract" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ContractChangedInfo" type="anre:ContractChangedInfo"/>
	<xs:complexType name="ContractChangedInfo">
		<xs:annotation>
			<xs:documentation>Emis cand se actualizeaza date pe contract care nu implica activitati in fluxul informatic, ca de exemplu TechnicalData, adresa de facturare, nume schimbat.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="anre:Message">
				<xs:sequence>
					<xs:element name="contract" type="anre:Contract" minOccurs="1" maxOccurs="1"/>
					<xs:element name="info" type="xs:string" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Descrierea motivelor pentru care au fost publicate noi informatii</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ContractMoreInfo" type="anre:ContractMoreInfo"/>
	<xs:complexType name="ContractMoreInfo">
		<xs:annotation>
			<xs:documentation>Trimis de furnizor/operator care solicita mai multe informatii de la cealalta parte.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="anre:Message">
				<xs:sequence>
					<xs:element name="contract" type="anre:Contract" minOccurs="1" maxOccurs="1"/>
					<xs:element name="info" type="xs:string" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Descrierea motivelor pentru care au fost solicitate mai multe informatii</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ContractNetworkCancelledByOperator" type="anre:ContractNetworkCancelledByOperator"/>
	<xs:complexType name="ContractNetworkCancelledByOperator">
		<xs:annotation>
			<xs:documentation>Emis din WebPOSF/ platforma Operator cand se doreste anularea contractului de retea cu operatorul.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="anre:Message">
				<xs:sequence>
					<xs:element name="contract" type="anre:Contract" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ContractNetworkChangedInfo" type="anre:ContractNetworkChangedInfo"/>
	<xs:complexType name="ContractNetworkChangedInfo">
		<xs:complexContent>
			<xs:extension base="anre:Message">
				<xs:sequence>
					<xs:element name="contract" type="anre:Contract" minOccurs="1" maxOccurs="1"/>
					<xs:element name="info" type="xs:string" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Descrierea motivelor pentru care au fost publicate noi informatii</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ContractNetworkSignedByClient" type="anre:ContractNetworkSignedByClient"/>
	<xs:complexType name="ContractNetworkSignedByClient">
		<xs:annotation>
			<xs:documentation>Emis din WebPOSF cand se semneaza contractul de retea de catre Client</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="anre:Message">
				<xs:sequence>
					<xs:element name="contract" type="anre:Contract" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ContractNetworkSignedByOperator" type="anre:ContractNetworkSignedByOperator"/>
	<xs:complexType name="ContractNetworkSignedByOperator">
		<xs:annotation>
			<xs:documentation>Emis din WebPOSF/platforma Operator cand se semneaza contractul de retea de catre Operator.&#xD;
&#xD;
Pentru tipul de contract TRANSPORT doar operatorul emite, ceilalti doar iau nota de mesaj.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="anre:Message">
				<xs:sequence>
					<xs:element name="contract" type="anre:Contract" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ContractNetworkSignedBySupplier" type="anre:ContractNetworkSignedBySupplier"/>
	<xs:complexType name="ContractNetworkSignedBySupplier">
		<xs:annotation>
			<xs:documentation>Emis din WebPOSF cand se semneaza contractul de retea de catre Furnizor</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="anre:Message">
				<xs:sequence>
					<xs:element name="contract" type="anre:Contract" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ContractSignedByClient" type="anre:ContractSignedByClient"/>
	<xs:complexType name="ContractSignedByClient">
		<xs:annotation>
			<xs:documentation>Instiintare despre contract semnat de client in aplicatia WebPOSF</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="anre:Message">
				<xs:sequence>
					<xs:element name="contract" type="anre:Contract" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ContractSignedBySupplier" type="anre:ContractSignedBySupplier"/>
	<xs:complexType name="ContractSignedBySupplier">
		<xs:annotation>
			<xs:documentation>Instiintare despre contract semnat de furnizor, dupa ce a semnat in prealabil si clientul fie la ghiseu fie prin aplicatia furnizorului.&#xD;
Se emite si cand furnizorul deruleaza procesul de semnare in afara platformei POSF, doar cand contractul a fost semnat semnat de ambele parti.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="anre:Message">
				<xs:sequence>
					<xs:element name="contract" type="anre:Contract" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ContractSuspendedByAnre" type="anre:ContractSuspendedByAnre"/>
	<xs:complexType name="ContractSuspendedByAnre">
		<xs:annotation>
			<xs:documentation>Emis de WebPOSF cand un key user al ANRE introduce faptul ca unui furnizor i s-a suspendat licenta</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="anre:Message">
				<xs:sequence>
					<xs:element name="contract" type="anre:Contract" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ContractTransferredToFUIByAnre" type="anre:ContractTransferredToFUIByAnre"/>
	<xs:complexType name="ContractTransferredToFUIByAnre">
		<xs:annotation>
			<xs:documentation>Emis de WebPOSF cand un key user ANRE introduce faptul ca a fost retrasa licenta pentru un furnizor</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="anre:Message">
				<xs:sequence>
					<xs:element name="contract" type="anre:Contract" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ContractTransferredToFUIByOperator" type="anre:ContractTransferredToFUIByOperator"/>
	<xs:complexType name="ContractTransferredToFUIByOperator">
		<xs:annotation>
			<xs:documentation>Emis de WebPOSF / platforma operator cand un angajat al operatorului introduce faptul ca un furnizor se afla in imposibilitate de furnizare</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="anre:Message">
				<xs:sequence>
					<xs:element name="contract" type="anre:Contract" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Convention" type="anre:Convention"/>
	<xs:complexType name="Convention">
		<xs:annotation>
			<xs:documentation>Conventie contract de retea</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="activeSupplier" type="anre:Supplier" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Furnizorul nou</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="contract" type="anre:Contract" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Contractul de retea/transport</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="date" type="xs:date" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Data conventie</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="number" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Numar conventie</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="removedSupplier" type="anre:Supplier" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Furnizorul sters</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="type" type="anre:ConventionType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipul conventiei: tripartita sau multipartita</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ConventionChangedInfo" type="anre:ConventionChangedInfo"/>
	<xs:complexType name="ConventionChangedInfo">
		<xs:complexContent>
			<xs:extension base="anre:Message">
				<xs:sequence>
					<xs:element name="contract" type="anre:Contract" minOccurs="1" maxOccurs="1"/>
					<xs:element name="info" type="xs:string" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Descrierea motivelor pentru care au fost publicate noi informatii</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ConventionSignedByClient" type="anre:ConventionSignedByClient"/>
	<xs:complexType name="ConventionSignedByClient">
		<xs:annotation>
			<xs:documentation>Emis de WebPOSF cand a semnat clientul conventia</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="anre:Message">
				<xs:sequence>
					<xs:element name="contract" type="anre:Convention" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ConventionSignedByOperator" type="anre:ConventionSignedByOperator"/>
	<xs:complexType name="ConventionSignedByOperator">
		<xs:annotation>
			<xs:documentation>Emis de WebPOSF sau de platforma operatorului cand a semnat conventia.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="anre:Message">
				<xs:sequence>
					<xs:element name="convention" type="anre:Convention" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ConventionSignedBySupplier" type="anre:ConventionSignedBySupplier"/>
	<xs:complexType name="ConventionSignedBySupplier">
		<xs:annotation>
			<xs:documentation>Emis de WebPOSF sau de platforma furnizorului cand acesta a semnat conventia.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="anre:Message">
				<xs:sequence>
					<xs:element name="contract" type="anre:Convention" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Marketing" type="anre:Marketing"/>
	<xs:complexType name="Marketing">
		<xs:sequence>
			<xs:element name="agreeContactTerms" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="agreeGDPRTerms" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="agreePlatformTerms" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="clientIBAN" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="electronicInvoice" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="electronicMoneyReturn" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Message" type="anre:Message"/>
	<xs:complexType name="Message">
		<xs:sequence>
			<xs:element name="authorID" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>ID asignat de POSF pentru sistemul IT care emite mesajul</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="authorName" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Nume de cod asignat de POSF pentru sistemul IT care emite mesajul</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="correlationID" type="anre:Guid" minOccurs="1" maxOccurs="1"/>
			<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Human readable description of the message in Romanian.&#xD;
&#xD;
If message hold initialization data please fill "INITIALIZATION" in this field</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="messageID" type="anre:Guid" minOccurs="1" maxOccurs="1"/>
			<xs:element name="timestamp" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
			<xs:element name="type" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Operator" type="anre:Operator"/>
	<xs:complexType name="Operator">
		<xs:annotation>
			<xs:documentation>Identificator unic al operatorului furnizat de POSF</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="anre:Company">
				<xs:sequence>
					<xs:element name="operatorId" type="xs:string" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="OperatorChangedInfo" type="anre:OperatorChangedInfo"/>
	<xs:complexType name="OperatorChangedInfo">
		<xs:annotation>
			<xs:documentation>Emis de Operator cand i s-au schimbat datele de identificare/persoane/adresa/etc.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="anre:Message">
				<xs:sequence>
					<xs:element name="domainUrl" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="operator" type="anre:Operator" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Person" type="anre:Person"/>
	<xs:complexType name="Person">
		<xs:annotation>
			<xs:documentation>Persoana fizica</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0">
			<xs:element name="address" type="anre:Address" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Adresa domiciliu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="code" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Numar unic de identificare (pentru cetatenii straini)&#xD;
CNP (pentru cetatenii romani)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="contactAddress" type="anre:ContactAddress" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Date contact: Telefon Mobil si Email</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="correspondenceAddress" type="anre:Address" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Adresa de corespondenta</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="extra" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="firstName" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Prenume</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastName" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Nume</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="number" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Numar act de identitate</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="series" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Serie act de identitate</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="type" type="anre:LegalIDType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tip act de identitate</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Place" type="anre:Place"/>
	<xs:complexType name="Place">
		<xs:annotation>
			<xs:documentation>Loc de consum</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="1">
			<xs:element name="address" type="anre:Address" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Adresa loc de consum</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="code" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>reprezinta numarul POD sau CLC asa cum se regaseste in factura</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="operator" type="anre:Operator" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Operatorul care detine acest loc de consum</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="technicalData" type="anre:TechnicalData" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Poate fi de tip TechnicalDataElectricity sau TechnicalDataGas</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="type" type="anre:PlaceType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>ia valori conform tipului de data PlaceType</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="url" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Adresa web unde poate fi accesate fisierele in format electronic ale acestui loc de consum</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PlaceCreatedByOperator" type="anre:PlaceCreatedByOperator"/>
	<xs:complexType name="PlaceCreatedByOperator">
		<xs:annotation>
			<xs:documentation>Se emite cand un operator inregistreaza cu succes in baza de date a unui nou loc de consum (POD/CLC)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="anre:Message">
				<xs:sequence>
					<xs:element name="place" type="anre:Place" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The newly created Place (POD/CLC)</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="PlaceDisconnectedByOperator" type="anre:PlaceDisconnectedByOperator"/>
	<xs:complexType name="PlaceDisconnectedByOperator">
		<xs:annotation>
			<xs:documentation>Se emite cand un operator deconecteaza un loc de consum (POD/CLC), probabil cand nu mai exista contracte active.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="anre:Message">
				<xs:sequence>
					<xs:element name="client" type="anre:Client" minOccurs="0" maxOccurs="1"/>
					<xs:element name="info" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="place" type="anre:Place" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="PlaceUpdatedByOperator" type="anre:PlaceUpdatedByOperator"/>
	<xs:complexType name="PlaceUpdatedByOperator">
		<xs:annotation>
			<xs:documentation>Se emite cand un operator modifica cu succes in baza de date a unui nou loc de consum (POD/CLC)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="anre:Message">
				<xs:sequence>
					<xs:element name="info" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="place" type="anre:Place" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Locul de consum nou creat</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Position" type="anre:Position"/>
	<xs:complexType name="Position">
		<xs:annotation>
			<xs:documentation>Coordinates must be in accordance&#xD;
with WGS84 and must use an ISO 6709 format as follows: [+/-]NN.NNNNNN.</xs:documentation>
		</xs:annotation>
		<xs:sequence/>
		<xs:attribute name="geohash" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>WGS84 GPS position encoded in 10 digits GeoHash as per https://en.wikipedia.org/wiki/Geohash&#xD;
Example for Bucharest center: sxfsccrhnq</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="latitude" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>Example latitude value for Bucharest center: 44.436339</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="longitude" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>Example longitude value for Bucharest center: 26.102571</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="Response" type="anre:Response"/>
	<xs:complexType name="Response">
		<xs:complexContent>
			<xs:extension base="anre:Message">
				<xs:sequence>
					<xs:element name="responseID" type="anre:Guid" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>ID unic generat de POSF</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Supplier" type="anre:Supplier"/>
	<xs:complexType name="Supplier">
		<xs:annotation>
			<xs:documentation>Furnizor</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="anre:Company">
				<xs:sequence>
					<xs:element name="fuiType" type="anre:FUIType" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Tip FUI: nominalizat sau desemnat</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="isFUI" type="xs:boolean" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Este FUI (Furnizor de ultima instanta)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="supplierId" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Identificator unic al furnizorului furnizat de POSF</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="SupplierChangedInfo" type="anre:SupplierChangedInfo"/>
	<xs:complexType name="SupplierChangedInfo">
		<xs:annotation>
			<xs:documentation>Emis de Furnizor cand i s-au schimbat datele de identificare/persoane/adresa/etc.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="anre:Message">
				<xs:sequence>
					<xs:element name="domainUrl" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="supplier" type="anre:Supplier" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="TechnicalData" type="anre:TechnicalData"/>
	<xs:complexType name="TechnicalData">
		<xs:annotation>
			<xs:documentation>Date tehnice</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="consumption" type="anre:Consumption" minOccurs="0" maxOccurs="1"/>
			<xs:element name="counterIndexDesc" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>descrierea modalitatii de completare a valorii indexului. De exemplu:&#xD;
&#xD;
Pentru o singura valoare se completea numarul citit.&#xD;
&#xD;
Pentru mai multe valori se completeaza astfel:&#xD;
nr cadran:valoare | nr cadran:valoare |</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="counterIndexReadDate" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Data la care a fost citit contorul</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="counterIndexValue" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valoarea citita a contorului</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="counterSeries" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Serie contor</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="counterType" type="anre:CounterType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tip contor</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="date" type="xs:date" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Data documentului tehnic</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="documentType" type="anre:TechnicalDataType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipul documentului: &#xD;
- pentru EE: Certificat de racordare/ Aviz tehnic de racordare&#xD;
- pentru GN: Aviz tehnic de racordare/ Acord de acces</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="number" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Numarul documentului tehnic</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="smartMeter" type="xs:boolean" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Exista un sistem de masurare inteligent</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="status" type="anre:TechnicalDataStatus" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Status: Conectat/ Deconectat</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="type" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>semnalizeaza tipul informatiei: TechnicalDataElectricity sau TechnicalDataGas</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="TechnicalDataElectricity" type="anre:TechnicalDataElectricity"/>
	<xs:complexType name="TechnicalDataElectricity">
		<xs:annotation>
			<xs:documentation>Date tehnice Energie Electrica</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="anre:TechnicalData">
				<xs:sequence>
					<xs:element name="approvedConsumptionPower" type="xs:double" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Putere aprobata la consum in locul de consum, masurata in Watt</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="approvedProducedPower" type="xs:decimal" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Putere aprobata la productie in locul de consum, masurata in Watt</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="connectionType" type="anre:ConnectionType" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Tip racord conform tipului de date ConnectionType</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="networkType" type="anre:NetworkType" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Tip retea: Distributie sau Transport</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="voltageLevel" type="xs:decimal" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Nivelul de tensiune disponibil in locul de consum, masurata in Volt</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="TechnicalDataGas" type="anre:TechnicalDataGas"/>
	<xs:complexType name="TechnicalDataGas">
		<xs:annotation>
			<xs:documentation>Date tehnice Gaze Naturale</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="anre:TechnicalData">
				<xs:sequence>
					<xs:element name="category" type="anre:ConsumptionCategory" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Categorie de consum</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="debit" type="xs:decimal" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Debit aprobat</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="networkType" type="anre:NetworkType" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Tip retea: Distributie, Transport sau Conducta de alimentare din amonte</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="pressure" type="xs:decimal" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Presiunea disponibila in locul de consum</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>